*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    /* fonts */
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    /* font sizes */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* font weights */
    --fw-reg: 300;
    --fw-bold: 900;

    /* colors */
    --clr-light: #e1e1e1;
    --clr-gray: #AEAEAE;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    /* shadows */
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
    0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width:800px){  /*for screen larger than 800px*/
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body{
    background : var(--clr-light);
    color : var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;

    /* height: 100px;
    width: 100px; */
}

section{
    padding: 5em 2em;
}

/* Typography */

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--fs-h1);}
h2{ font-size: var(--fs-h2);}
h3{ font-size: var(--fs-h3);}

strong{
    font-weight: var(--fw-bold);
}


/* classes */
.section_title{
    margin-bottom: 0.25em;
    font-weight: var(--fw-reg);
}

.section_title-intro{
    font-weight: var(--fw-reg);
}

.section_title-intro strong{
    display: block;
}

.section_subtitle{
    margin:0;
    font-size: var(--fs-h3);
    padding: 0.25em 1em;
}

.section_subtitle-intro,
.section_subtitle-techstack{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 50px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-toggle{
    height : 40px;
    background-color: transparent;
    border : 0;
    cursor : pointer;
    position : absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .ham {
    transform: rotate(.5turn);
}

.ham,
.ham::after,
.ham::before{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.ham::before { top: 6px; }
.ham::after { bottom: 6px; }

.ham {   
    display: block;
    position: relative;
}

.ham::before,
.ham::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.nav_list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_list_link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav_link:hover {
    color: var(--clr-accent);
}

/* Intro section */
.intro{
    position:relative;
}

@media(min-width: 600px){
    .intro {
        display:grid;
        width:min-content;
        margin:0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        box-shadow: var(--bs);
    }

    .section_subtitle-intro{
        align-self:stretch;
        height:fit-content;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.25em;
        width: calc(100% + 1.25em);
    }
}

/* Tech Stack Section */

.techstack{
    background-color: var(--clr-dark);
    background-image: url("../images/blacksand2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section_title-techstack{
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
    /* text-shadow: 0 0 3px var(--clr-light), 0 0 5px var(--clr-light); */
    position: relative;
}

.section_title-techstack::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
}

.tech{
    max-width: 300px;
}

@media(max-width:800px){
    .stacks{
        margin: auto;
        width: 50%;
        padding: 10px;
        min-width: 300px;
    }
}

@media(min-width:800px){
    .stacks{
        display:flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .tech + .tech{
        margin-left: 2em;
    }
}


/* socials */

.social-list_item{
    height: 5%;
    width: 5%;
    min-height: 20px;
    min-width: 20px;
}

footer{
    background: var(--clr-light);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

footer a{
    color: inherit;
}

.footer_link:hover,
.social-list_link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list_item{
    margin: 0 0.3em;
}


